<section>
    <div class="container px-5 py-10 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Experiences</h1>
        </div>
        <div class="pb-3 flex flex-wrap flex-col justify-center md:flex-row lg:justify-start -m-4 bg-red-300">
            <div class="flex flex-col w-96 bg-yellow-500">
                <ul class="">
                    <li>
                        <h3>Lead Software Engineer</h3>
                    </li>
                    <li>
                        <h3>Software Engineer</h3>
                    </li>
                </ul>
            </div>
            <div class="flex flex-auto bg-blue-500">
                Experiences
            </div>
        </div>
      </div>
</section>